@media only screen and (max-width: 1247px){
    .navbar{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: rgb(14, 13, 13);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        justify-content: center;
    }
    .search-menu{
        justify-content: center;
    }
    .search-menu input{
        margin: 12px 12px;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 34px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .intro img{
        display: none;
    }
    .row, .items{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .total-price, .table, .cart-list{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}