*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex ;
    align-items: center;
    padding: 15px;
} 
#website{
    font-size: 30px;
    padding: 5px;
    text-align: center;
}
#website:hover {
    color: rgba(4, 44, 131, 0.877);
    cursor: pointer;
}
.intro hr{
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
    width: 1000px;
}
.search-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}
#search{
    width: 500px;
}
#btn-search{
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(239, 239, 243);
}
#btn-search:hover {
    color: blue;
    transform: scaleX(0.8);
}
.menu-icon{
    width: 28px;
    margin-left: 10px;
    display: none;
}
nav{
    flex: 10;
    text-align: right;
}
nav ul{
    display: inline-block;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
}
.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.intro{
    flex-basis: 25%;
    min-width: 300px;
    text-align: center;
    justify-content: center;
}
.intro img{
    max-width: 100%;
    padding: 50px;
}
.intro h1{
    font-size: 100px;
    line-height: 100px;
    margin: 25px 0px;
}
.intro h2{
    font-size: 50px;
    margin: 25px 0;
}
.button{
    display: inline-block;
    background: crimson;
    color: darkgray;
    padding: 10px;
    margin: 25px 0;
    border-radius: 25px;
    transition: background 3s;
}
.button:hover{
    background: rgb(5, 37, 223);
}
.header{
    background: radial-gradient(white, #f1a7a7);
}
a{
    text-decoration: none;
    color: darkblue;
}
p{
    color: black;
}
.pro{
    text-align: center;
    position: relative;
    line-height: 50px;
    color: blue;
}
h3{
    color: crimson;
}
.items{
    flex-basis: 25%;
    padding: 10px;
    min-width: 150px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.items img{
    width: 100%;
}
.rating .fa{
    color: orangered;
}
.items:hover{
    transform: translateY(-5px)
}
.footer{
    background: black;
    color: blanchedalmond;
    padding: 20px;
}
.footer p{
    color: blanchedalmond;
}
.footer hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer h2{
    margin-bottom: 20px;
}
.footer-1, .footer-2, .footer-3, .footer-4{
    min-width: 300px;
    margin-bottom: 20px;
}
.footer-1{
    flex-basis: 2%;
}
.footer-2{
    flex: 1;
    text-align: center;
}
.footer-3, .footer-4{
    flex-basis: 2%;
    text-align: center;
}
.applogo{
    margin-top: 20px;
}
.applogo img{
    width: 130px;
}
.copyright{
    text-align:center ;
}
.social li{
	display: inline-block;
}
.social i {
	font-size: 270%;
	margin: 1% 5% 7% 4%;
	color: #0e0101;
}
.social i:hover {
    color: #f777f7;
}
.table{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-list{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: black;
    background: rgb(223, 12, 170);
}
td{
    padding: 5px;
}
td input{
    height: 30px;
    width: 50px;
    padding: 5px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    width: 100%;
    max-width: 475px;
    border-top: 3px solid rgb(223, 12, 170);
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.backImg{
    background: radial-gradient(white, #f1a7a7);
}